
Scratch\.ps1

\.vscode/

\.vs/
ConnectWiseManageAPI/Public/Service/.DS_Store
ConnectWiseManageAPI/Public/Finance/Agreements/.DS_Store
ConnectWiseManageAPI/Public/Finance/.DS_Store
ConnectWiseManageAPI/Public/Company/.DS_Store
ConnectWiseManageAPI/Public/.DS_Store
ConnectWiseManageAPI/Private/.DS_Store
ConnectWiseManageAPI/.DS_Store
.DS_Store
